---
import { AnalysisContainer } from "../components/AnalysisContainer";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simbologías y Frecuencias de Onda - Dakila</title>
		<meta name="description" content="Herramienta basada en información oficial de Dakila construida no oficialmente para el análisis de simbologías y frecuencias." />
		<meta property="og:title" content="Simbologías y Frecuencias de Onda - Dakila" />
		<meta property="og:description" content="Herramienta de análisis basada en información oficial de Dakila." />
		<meta property="og:image" content="/pwa-512x512.png" />
	</head>
	<body class="bg-black text-white m-0 p-0 overflow-hidden">
		<AnalysisContainer client:only="react" />
	</body>
</html>
